body {
  transition: 2s linear; }

.back {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100%;
  z-index: 200;
  position: absolute;
  top: 0; }

.sidebar {
  position: absolute;
  background-color: white;
  z-index: 500;
  box-shadow: 10px 10px 20px black; }
  .sidebar a {
    padding: 10px;
    color: black;
    text-decoration: none;
    font-weight: 900; }
  .sidebar ul {
    padding: 20px; }

#canvas {
  margin: 0;
  padding: 0;
  z-index: 400; }

.card-row {
  color: white;
  background-color: black;
  padding: 10px;
  font-weight: 700; }

.navbar1 {
  margin-top: 2rem;
  box-shadow: 10px 10px 20px black;
  background-color: white;
  z-index: 500; }
  .navbar1 .ss {
    color: black;
    font-weight: 900;
    font-size: 2rem; }
  .navbar1 ul li {
    font-weight: 900; }
    .navbar1 ul li a {
      color: black;
      text-decoration: none; }
    .navbar1 ul li a:hover {
      color: black; }

.carousel {
  padding: 0;
  margin: 0; }

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  top: 0; }

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 100vh;
  opacity: 0.5;
  filter: alpha(opacity=50);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%; }

/*# sourceMappingURL=home1.css.map */
