body{
  transition: 1s linear;
}
.affix {
  top: 0;
  width: 100%;
  .container-fluid {
    padding-top: 70px;
  }
}
.drlogo {
  z-index: 1000;
  .aa {
    margin-top: 10rem;
    margin-left: 2rem;
    position: fixed;
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg);}
      100% { -webkit-transform: rotate(360deg);}
    }
    @-moz-keyframes spin {
      0% { -moz-transform: rotate(0deg);}
      100% { -moz-transform: rotate(360deg);}
    }
    @-o-keyframes spin {
      0% { -o-transform: rotate(0deg);}
      100% { -o-transform: rotate(360deg);}
    }
    @-ms-keyframes spin {
      0% { -ms-transform: rotate(0deg);}
      100% { -ms-transform: rotate(360deg);}
    }
  }
}
.top-back-img{
  .overlay{
    background: rgba(0,0,0,0.5);
    position: absolute;
    width: 100%;
    height: 90rem;
    margin-left: -1rem;
    margin-right: 0;
  }
  height: 90rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 300;
  .empty-space{
      height: 43rem;
  }
  .text-white{
    margin-top: 10rem;
    color:white;
    font-weight: 900;
    h1{
      font-weight: 900;
      font-size: 50px;
    }
  }
  .team-name{
    color:white;
    font-weight: 900;
    font-family: fantasy;
    h1{
      font-size: 70px;
    }
  }
}
.about-us{
  h1{
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-weight: 900;
    font-size: 5rem;
    .double-line{
      border-bottom: 5px double green;
    }
  }
  p{
    margin-bottom: 4rem;
    font-weight: 600;
  }
}

.navbar1{
  background-color: white;
  ul{
    li{
      a{
        color:black;
        text-decoration: none;
      }
    }
  }
}
.navbar{
  border-radius: 0;
  z-index: 200;
  ul{
    li{
      a{
        font-weight: bolder;
        font-family: 'Roboto Condensed', sans-serif;
      }
    }
  }
}
.show-back-parallax {
  margin-top: -2rem;
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.margin-remove{
  padding: 0;
  .empty-up-space{
    height : 12rem;
  }
  .find-text{
    h1{
      font-weight: 900;
    }
    color : white;
    background-color: rgba(0,0,0,0.2);
  }
  .btn-design{
    border-bottom: 6px solid darkgreen;
    font-weight: 900;
  }
}

.our-cars-div{
  h1{
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-weight: 900;
    font-size: 5rem;
    .double-line{
      border-bottom: 5px double green;
    }
  }
  .car-img{
    img{
      height: 20rem;
      margin-bottom: 4rem;
      border-bottom: 10px solid green;
    }
    .img-responsive{
      display: inline-block;
    }
  }
  margin-bottom: 10rem;
}

.footer{
  padding-top: 10rem;
  background-color: black;
  color:white;
  h4{
    padding-top: 20px;
    padding-bottom: 20px;
    color:white;
    font-weight: 900;
    border-bottom: 6px double white;
  }
  .up-footer-text{
    height: 40rem;
  }
}