body {
  transition: 1s linear; }

.affix {
  top: 0;
  width: 100%; }
  .affix .container-fluid {
    padding-top: 70px; }

.drlogo {
  z-index: 1000; }
  .drlogo .aa {
    margin-top: 10rem;
    margin-left: 2rem;
    position: fixed;
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear; }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg); }
  100% {
    -o-transform: rotate(360deg); } }
@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0deg); }
  100% {
    -ms-transform: rotate(360deg); } }
.top-back-img {
  height: 90rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 300; }
  .top-back-img .overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 90rem;
    margin-left: -1rem;
    margin-right: 0; }
  .top-back-img .empty-space {
    height: 43rem; }
  .top-back-img .text-white {
    margin-top: 10rem;
    color: white;
    font-weight: 900; }
    .top-back-img .text-white h1 {
      font-weight: 900;
      font-size: 50px; }
  .top-back-img .team-name {
    color: white;
    font-weight: 900;
    font-family: fantasy; }
    .top-back-img .team-name h1 {
      font-size: 70px; }

.about-us h1 {
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-weight: 900;
  font-size: 5rem; }
  .about-us h1 .double-line {
    border-bottom: 5px double green; }
.about-us p {
  margin-bottom: 4rem;
  font-weight: 600; }

.navbar1 {
  background-color: white; }
  .navbar1 ul li a {
    color: black;
    text-decoration: none; }

.navbar {
  border-radius: 0;
  z-index: 200; }
  .navbar ul li a {
    font-weight: bolder;
    font-family: 'Roboto Condensed', sans-serif; }

.show-back-parallax {
  margin-top: -2rem;
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.margin-remove {
  padding: 0; }
  .margin-remove .empty-up-space {
    height: 12rem; }
  .margin-remove .find-text {
    color: white;
    background-color: rgba(0, 0, 0, 0.2); }
    .margin-remove .find-text h1 {
      font-weight: 900; }
  .margin-remove .btn-design {
    border-bottom: 6px solid darkgreen;
    font-weight: 900; }

.our-cars-div {
  margin-bottom: 10rem; }
  .our-cars-div h1 {
    margin-top: 5rem;
    margin-bottom: 5rem;
    font-weight: 900;
    font-size: 5rem; }
    .our-cars-div h1 .double-line {
      border-bottom: 5px double green; }
  .our-cars-div .car-img img {
    height: 20rem;
    margin-bottom: 4rem;
    border-bottom: 10px solid green; }
  .our-cars-div .car-img .img-responsive {
    display: inline-block; }

.footer {
  padding-top: 10rem;
  background-color: black;
  color: white; }
  .footer h4 {
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-weight: 900;
    border-bottom: 6px double white; }
  .footer .up-footer-text {
    height: 40rem; }

/*# sourceMappingURL=styles.css.map */
